
.mbHead .mbTop {
	height: 35px;
	background-color: #DC0005;
	background-size: auto 50px;
	background-position: 0 -10px;
	top: 0;
	width: 100%;
	z-index: 1200;
	box-shadow: 0 2px 5px rgba(9,9,9,.3);
	-webkit-box-shadow: 0 2px 5px rgba(9,9,9,.3)
}

.mbHead .mbTop_wrap {
	max-width: 640px;
	position: relative;
	margin: 0 auto
}

.mbHead .mbTop .userLogo {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	right: 44px
}

.mbHead .mbTop .mbLogo {
	width: 119px;
	height: 19px;
	display: block;
	padding: 7px 0 0 8px
}

.mbHead .mbTop .mbCart {
	width: 37px;
	height: 37px;
	display: block;
	position: absolute;
	top: -4px;
	right: 8px;
	background: url(../images/cart.png) no-repeat 1px 0;
	background-size: 37px 37px;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	font-size: 12px
}

.modRankSTag {
	width: 16px;
	height: 16px;
	display: inline-block;
	-webkit-border-radius: 8px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 1px #999;
	margin-right: 3px
}

.modRankSTag em {
	background: #ec1b23;
	width: 10px;
	height: 14px;
	line-height: 14px;
	display: block;
	-webkit-border-radius: 7px;
	margin: 1px 0 0 1px;
	font-size: 12px;
	text-align: left;
	padding: 0 0 0 4px;
	color: #fff;
	font-weight: 700;
	list-style: none
}

#mbSubTitle {
	padding: 8px 8px 0;
	max-width: 626px;
	margin: 0 auto
}

.subTitleBox {
	position: relative;
	height: 20px;
	color: #666;
	padding: 8px;
	background: #fff;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px #999;
	text-align: center
}

.subTitleBox .backBtn {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
	left: 8px;
	background: url(../images/back.png) no-repeat;
	background-size: 20px 20px
}

.subTitleBox .homeBtn {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
	right: 8px;
	background: url(../images/home.png) no-repeat;
	background-size: 20px 20px
}

#mbMain {
	padding: 8px;
	min-width: 320px;
	max-width: 640px
}


@media only screen and (min-device-width:320px) {
	#mbMain,.mbFoot {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto
	}
}

.modBaseBox {
	background: #fff;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px #999;
	padding: 8px
}

.modBaseBox h3 {
	height: 30px;
	line-height: 20px;
	color: #333;
	padding: 0 5px;
	position: relative
}

.modBd {
	background: #fff;
	color: #666
}

.frameLoginBox .formLogin {
	padding: 8px 0 15px;
	text-align: center
}

.frameLoginBox .formLogin li {
	width: 100%;
	display: inline-block;
	padding: 5px;
	-webkit-box-sizing: border-box
}

.frameLoginBox .formLogin label {
	width: 70px;
	text-align: left;
	display: inline-block
}

.frameLoginBox .formLogin span {
	display: inline-block
}

.frameLoginBox .formLogin input {
	height: 24px;
	line-height: 24px;
	border: 2px solid #8badc2;
	width: 180px
}

.modBtnWhite {
	display: inline-block;
	background: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#e6e6e6));
	height: 22px;
	line-height: 22px;
	padding: 0 15px;
	text-align: center;
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 1px 2px #ccc
}

.frameLoginBox .btnLoginBox {
	padding: 15px 0 10px;
	text-align: center
}

.modBtnColor {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px #444
}

.colorBlue {
	background: -webkit-gradient(linear,0 0,0 100%,from(#489cd3),to(#3980af));
	border: 1px solid #2c6287
}

.frameLoginBox .btnLoginBox .register {
	display: inline-block;
	color: #456f8b;
	padding: 10px 0
}

.mbFoot {
	padding: 8px;
	padding-top: 0;
	color: #666;
	max-width: 640px
}

.mbFoot a,.mbFoot a:hover {
	color: #333;
	text-decoration: none
}

.mbFoot .mbBotLink {
	line-height: 18px;
	background: #fff;
	fong-size: 0;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px #999;
	margin-bottom: 8px
}

.mbFoot .mbBotLink li {
	width: 30%;
	float: left;
	font-size: 12px;
	padding: 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center
}

.mbFoot .mbBotLink li a {
	display: block
}

.mbFoot .mbBotLink li:nth-child(2) {
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	width: 38%
}

.clearfix:after,dl:after,ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}

.mbFoot .mbBotInfo {
	text-align: center
}

.mbFoot .mbBotInfo li {
	height: 35px;
	line-height: 35px;
	width: 75%;
	border-bottom: 1px solid #ccc;
	margin: 0 auto
}

.mbFoot .noLogin .loginL {
	width: 40%;
	float: left;
	text-align: right
}

.mbFoot .mbBotInfo nav a {
	width: 32%;
	display: inline-block;
	text-align: center
}

.mbFoot .mbCopyright {
	text-align: center;
	line-height: 18px;
	margin-top: 8px;
	font-size: 11px
}

