*{
	margin:0;
	padding:0;
}
body, button, input, select, textarea { color:#454545; }  
body{
	font:18px/1.5 "Helvetica Neue",
	Helvetica,Arial,
	"Microsoft Yahei",
	"Hiragino Sans GB",
	"Heiti SC",
	"WenQuanYi Micro Hei",
	sans-serif;
}
body { 
	word-wrap:break-word; 
	word-break:break-all; 
	height:100%; 
	position: relative;
	overflow-x: hidden;
	text-shadow:1px 1px 1px #999;
	font-family: "微软雅黑";
	background: #222;
	} 
button, input, select, textarea, h1, h2, h3, h4, h5, h6 { font-size:100%; }  
h2, h3 { font-size:20px; }  
button, input, select, textarea, label { 
	vertical-align:middle; 
	outline:none; 
	cursor: pointer;
	resize:none;
}  
img { 
	vertical-align:middle;
	border:none; 
	display:inline-block;
}  
ol,ul,li{
	list-style: none;
}
ol,ul,li{list-style-type: none;}

/*IE8去除虚线框*/
a:focus{outline: none;}
a { 
	text-decoration:none;
	vertical-align:baseline; 
	cursor:pointer;
	color: #222;
}  
/*清除浮动 3种方式*/
.clear{clear: both;}
.clear_both{
	content: "";
	display: block;
	clear: both;
}
/*.clear:after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}*/