body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,hgroup {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

ul,ol,li {
	list-style: none;
}

em,i {
	font-style: normal;
}

img {
	border: 0;
}

input,img {
	vertical-align: middle;
}

input:focus {
	outline: none;
}

a {
	color: #444;
	text-decoration: none;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: "microsoft yahei",sans-serif;
	font-size: 12px;
	min-width: 320px;
	line-height: 1.5;
	color: #333;
	background: #F2EEE0;
}
