header .ding{
	width: 1200px;
	margin: 0 auto;
}
header .menu{
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #ccc;
	margin-top: -5px;
}
header .menus{
	width: 1200px;
	margin: 0 auto;
}
header .menu .song{
	float: left;
}
header .menu .list{
	float: right;
}
header .menu .list li{
	float: left;
}
header .menu .list span{
	padding-right: 5px;
	color: #ccc;
}
header .menu .list b,.deng{
	color: red;
}