/*最值当*/
#zui{
	width: 1200px;
	margin: 0 auto;
}
#zui .zui_top{
	width: 1200px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
#zui .zui-a .zui_top img{
	float: left;
	margin-top: 10px;
}
#zui .zui-a .zui_top a{
	float: right;
	color: red;
}
#zui .zui-aa{
	width: 1200px;
	border: 1px solid #ccc;
	overflow: hidden;
	height: 508px;
	box-sizing: border-box;
}
#zui .zui-aa>div{
	float: left;
}
#zui .zui-aa .border{
	border:1px solid #ccc;
	border-width: 0 1px 1px 0;
}
#zui .zui-aa .last{
	border-right: 0;
}
#zui .aa_1{
	width: 189px;
	height: 254px;
	background-color: #F9F9F9;
}
#zui .aa_1 span{
	line-height: 127px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 0;
	padding: 57px 6px;
	margin-left: 1px;
}
#zui .aa_1 span img{
	vertical-align: middle;
}
#zui .xia{
	border: 1px solid #ccc;
	border-width: 0 0 1px 0;
}
#zui .aa_2{
	width: 438px;
	height: 254px;
}
#zui .aa_1,.aa_2{
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
	margin-top: -5px;
}
#zui .zui-aa .three{
	border-bottom: 0;
	margin-top: -5px;
}
/*当当优选*/
#zui .zui-b{
	width: 1200px;
	margin-top: 40px;
}
#zui .zui-b .you{
	overflow: hidden;
	margin-bottom: 5px;
}
#zui .zui-b .you img{
	margin: 0 5px;
	vertical-align: -6px;
	width: 10px;
	height: 25px; 
}
#zui .zui-b .you .read{
	margin-top: 3px;
	font-size: 16px;
	font-weight: bold;
}
#zui .zui-b .you li{
	float: left;
	margin-right: 10px;
}
#zui .zui-b .you span{
	font-size: 14px;
}
#zui .zui-b .you h2{
	display: inline;
}
#zui .zui-b .you .big{
	padding: 5px 10px;
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #333;
	border-width: 0 1px 0 0;
}
#zui .zui-bb{
	width: 100%;
	height: 343px;
	border: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 30px;
	box-sizing: border-box;
}
#zui .zui-bb .you-l,.you-m,.you-r{
	float: left;
}
#zui .zui-bb .you-l{
	width: 400px;
	height: 340px;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
}
#zui .zui-bb .a{
	border: 1px solid #ccc;
	border-width: 0 1px 1px 0;
}
#zui .zui-bb .b{
	border: 1px solid #ccc;
	border-width: 0 0 1px 0;
}
#zui .zui-bb .c{
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
}
#zui .zui-bb .you-r{
	width: 399px;
	height: 340px;
}
#zui .zui-bb .you-r img{
	width: 199px;
}
#zui .zui-bb .top{
	margin-top: -6px;
}
/*图书.电子书*/
#zui .zui-c{
	width: 1200px;
}
#zui .zui-c .book-l{
	width: 900px;
	height: 300px;
	float: left;
}
#zui .zui-c .book-r{
	width: 280px;
	height: 300px;
	border: 1px solid red;
	float: right;
}
#zui .zui-c .book-l h1{
	font-size: 28px;
	color: #000;
	float: left;
}
#zui .zui-c .book-l .tab{
	float: right;
}
#zui .zui-c .book-l .tab li{
	float: left;
	font-size: 20px;
	width: 146px;
	height: 50px;
	border: 1px solid #ccc;
	background-color: #F5F5F5;
	text-align: center;
}
#zui .zui-c .book-l .tab li:hover{
	border: 3px solid #000;
	border-bottom: 0;
	background-color: #FFF;
	margin-top: 1px;
}
#zui .zui-c .book-top{
	height: 52px;
	width: 900px;
	line-height: 50px;
	border: 2px solid #000;
	border-width: 0 0 2px 0; 
}
#zui .zui-c .book-info{
	width: 900px;
	height: 447px;
	border: 1px solid #ccc;
	margin: 10px 0 40px 0;
	box-sizing: border-box;
}
#zui .zui-c .new-l img{
	height: 330px;
	width: 230px;
}
#zui .zui-c .new-l{
	width: 230px;
	height: 446px;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
}
#zui .zui-c .new-l a{
	width: 60px;
	height: 28px;
	display: inline-block;
	margin-left: 14px;
}
#zui .zui-c .new-m{
	width: 335px;
	height: 446px;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
}
#zui .zui-c .new-r{
	width: 335px;
	height: 446px;
}
#zui .zui-c .new-l,.new-m,.new-r{
	float: left;
}
#zui .zui-c .new-m .lunbo{
	width: 335px;
	height: 220px;
	border-bottom: 1px solid #ccc;
}