.leftSide{
	width: 181px;
	margin-right: 7px;
	margin-top: 10px;
}
.center{
	width: 543px;
	margin-right: 7px;
}
.rightSide{
	width: 220px;
}

/*左边部分*/
.leftSide,.center,.rightSide{
	float: left;
}
.leftSide h5{
	height: 25px;
	line-height: 25px;
	background-color: #FFF0D9;
	padding-left: 10px;
	color: #B53939;
}
.leftSide .sort p{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.leftSide .sort,.book{
	border: 1px solid #000;
}
.leftSide .sort{
	margin-bottom: 10px;
}
.leftSide .book img{
	vertical-align: -3px;
}
.leftSide .name{
	padding: 10px 0 5px 0;
	border: 1px solid #000;
	border-width: 0 0 1px 0;
	width: 161px;
	margin: 0 auto;
	font-weight: bold;
}
.leftSide .book p{
	font-weight: normal;
	padding: 5px 0 5px 0;
}
.leftSide .names{
	padding-left: 10px;
	font-weight: bold;
	margin: 10px 0;
}

/*中间部分*/
.center .lunbo{
	width: 538px;
	margin-top: -10px;
	background-color: #F2F2F3;
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.center .img{
	float: left;
	margin: 10px 0 10px 10px;
}
.center .number{
	float: right;
}
.center .number li{
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #000;
	text-align: center;
	margin-top: 6px;
	cursor: pointer;
}
.center .number ul{
	margin: 20px 5px 0 0;
}
.center .up,.new{
	margin-bottom: 11px;
}
.center .new{
	width: 538px;
	border: 1px solid #000;
}
.center .new h3,.title{
	float: left;
}
.center .new li{
	float: left;
}
.center .new .title .on{
	/*color: #B53939;
	background: url(../images/dd_book_bg2.jpg) no-repeat; */
}
.center .new-top{
	height: 30px;
	line-height: 30px;
	background-color: #EBEBEB;
	overflow: hidden;
	border: 1px solid #ccc;
	border-width: 0 0 1px 0;
}
.center .new h3{
	margin: 0 50px 0 10px;
	color: #B53939;
}
.center .new p{
	float: right;
	margin-right: 10px;
}
.center .new .title li{
	width: 45px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 8px;
	background: url(../images/dd_book_bg1.jpg) no-repeat;
	cursor: pointer;
}	
.center .list .list-1,.list-2,.list-3,.list-4{
	float: left;
}
.center .list ul,.books{
	float: left;
	margin-right: 10px;
}
.center .list ul li{
	clear: both;
}
.center .list .list-1,.list-2,.list-3,.list-4{
	margin: 10px 10px 0px 20px;
}
.center .list ul .blue{
	font-size: 18px;
}
.center .list ul .from,.red{
	font-size: 14px;
}
.center .list ul .red{
	color: red;
}
.center .list{
	overflow: hidden;
}
.look{
	width: 538px;
	border: 1px solid #000;
}
.look h3{
	height: 30px;
	line-height: 30px;
	background-color: #EBEBEB;
	text-indent: 10px;
	margin-top: 0px;
	color: #B53939;
}
.look div[class^="b"]{
	float: left;
	width: 97px;
	margin-left: 30px;
}
.look .look-books{
	overflow: hidden;
}
.look .look-books li{
	line-height: 17px;
}

/*右边部分*/
.rightSide .right-1,.right-2{
	width: 218px;
	border: 1px solid #000;
	margin-top: 10px;
}
.rightSide .right-1 h5{
	height: 30px;
	line-height: 30px;
	background-color: #FFF0D9;
	color: #B53939;
}
.rightSide .right-1 img{
	margin: -7px 5px;
}
.rightSide .right-1 .bk_list{
	height:226px;
	overflow: hidden;
}
.rightSide .right-1 ul{
	width: 90%;
	margin: 0 auto;
}
.rightSide .right-1 ul li{ 
	border-bottom: 1px dashed #000;
}
.rightSide .right-1 .ad img{
	margin: 4px; 
}
.rightSide .right-2 .seven{
	height: 29px;
	line-height: 29px;
	background-color: #518700;
	text-indent: 10px;
}
.rightSide .right-2 p img{
	vertical-align: -7px;
}
.rightSide .right-2 .right-title{
	overflow: hidden;
	width: 208px;
	margin: 4px auto 0;
	background-color: #F2F4DF;
}
.rightSide .right-2 .right-title .one{
	margin-left: 18px;
}
.rightSide .right-2 .right-title li{
	float: left;
	width: 35px;
	height: 20px;
	line-height: 20px;
	background: url(../images/dd_seven_bg1.jpg) no-repeat;
	margin-right: 3px;
	text-align: center;
	cursor: pointer;
}
.rightSide .right-2 .right-list li{
	clear: both;
	margin: 3px 0 5px 5px;
}
.rightSide .right-2 .right-list{
 	width: 205px;
 	margin: 0 auto 4px;
 	border: 1px solid #000;
 	overflow: hidden;
 	background-color: #F2F4DF;
 }
.rightSide .right-2 .right-list .a,.b,.c{
	float: left;
	margin-right: 6px;
}
.rightSide .right-2 .right-list li img{
	vertical-align: -2px;
}

/*点击切换*/
.list_a,.list_b,.list_c{
	display: none;
}